body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.products {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: 28%;
    height: auto;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.product img {
    width: 100%;
    height: auto;
}

.buy-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.buy-button:hover {
    #45a049;
}